APP_NAME=Cuidado con Rikochet - Retail Operations Simulator
APP_VERSION=0.1.0
APP_ENV=development

POSTGRES_DB=retail_operations
POSTGRES_USER=retail_user
POSTGRES_PASSWORD=retail_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

DATABASE_URL=postgresql+psycopg://retail_user:retail_password@localhost:5434/retail_operations